.box-sizing(@value) {
	-moz-box-sizing: @value;
	-webkit-box-sizing: @value;
	box-sizing: @value;
}

.gradient-vertical-2(@color1, @color2, @stop1: 0%, @stop2: 100%) {
	background-color: mix(@color1, @color2, 1);
	background-image: -moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -webkit-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: -o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
	background-image: linear-gradient(to bottom, @color1 @stop1, @color2 @stop2);
}

.transform(@transform) {
	-moz-transform: @transform;
	-webkit-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}

.transition(@transition) {
	-moz-transition: @transition;
	-webkit-transition: @transition;
	transition: @transition;
}

.user-select(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

@prefix: audio-manager-;

.@{prefix}container {
	@size: 1em;
	@radius: (@size * .25);
	@color: white;
	@bg-color: #363636;
	@total-width: (@size * 30);
	font-size: 16px;

	position: relative;
	width: @total-width;
	.box-sizing(border-box);
	color: @color;

	.gradient-vertical-2(lighten(@bg-color, 10%), darken(@bg-color, 10%));
	border-radius: @radius;
	box-shadow: (@size * .25) (@size * .25) (@size * .25) fade(black, 40);

	&.@{prefix}volume-open {
		&, .@{prefix}control-container {
			border-bottom-right-radius: 0;
			.@{prefix}control:last-child {
				border-bottom-right-radius: 0;
			}
		}
	}

	.@{prefix}info-container {
		border-radius: @radius;
		padding: (@size * .25);
		min-height: (@size * 1.125);
		.box-sizing(border-box);

		&:after {
			display: block;
			content: "";
			clear: both;
		}

		.@{prefix}track, .@{prefix}title {
			float: left;
			margin-right: (@size * .25);
		}
		.@{prefix}artist, .@{prefix}year {
			float: right;
			margin-left: (@size * .25);
		}
		.@{prefix}album, .@{prefix}track {
			display: none;
		}
		.@{prefix}track, .@{prefix}year {
			opacity: 0.7;
		}
	}

	.@{prefix}control-container {
		@time-width: (@size * 5);
		@control-height: @height;
		@icon-color: darken(@color, 10%);
		@icon-transparent: fade(@icon-color, 0);
		@button-padding: (@size * .25);
		@icon-opacity: 0.8;
		@height: (@size * 2.5);
		@control-color: lighten(@bg-color, 15%);
		@control-border-color: darken(@control-color, 11%);
		@wiggle: 0.25em;

		border-bottom-right-radius: @radius;
		border-bottom-left-radius: @radius;
		border-top: 1px solid @control-border-color;
		height: @height;
		position: relative;
		clear: both;

		.@{prefix}btn {
			width: @control-height;
			position: relative;
			overflow: hidden;
			display: inline-block;
			cursor: pointer;
			&:active, &:focus {
				.gradient-vertical-2(darken(@control-color, 15%), @control-color);
			}
			span {
				display: inline-block;
			}
		}
		.@{prefix}control {
			.gradient-vertical-2(@control-color, darken(@control-color, 15%));
			height: @control-height;
			float: left;
			.box-sizing(border-box);
			border-right: 1px solid lighten(@control-border-color, 3%);
			border-left: 1px solid @control-border-color;
			&:first-child {
				border-bottom-left-radius: @radius;
				border-left: none;
			}
			&:last-child {
				border-bottom-right-radius: @radius;
				border-right: none;
			}
		}

		//http://cssdeck.com/labs/css3-monochrome-icon-set
		.@{prefix}play {
			span {
				width: 0;
				height: 0;
				border-style: solid;
				border-color: @icon-transparent @icon-transparent @icon-transparent @icon-color;
				border-width: (@size * .5) (@size * .5) (@size * .5) (@size * .75);
				margin: (@size * 0.5 + @wiggle) 0 0 (@size * 0.75 + @wiggle);
			}
		}
		.@{prefix}pause {
			span {
				width: (@size * .125);
				height: @size;
				border: (@size * .25) solid @icon-color;
				border-top: none;
				border-bottom: none;
				margin: (@size * .5 + @wiggle) 0 0 (@size * .75 + @wiggle);
			}
		}
		.@{prefix}prev {
			span {
				width: 0;
				height: 0;
				border-style: solid;
				border-color: @icon-transparent @icon-color @icon-transparent @icon-transparent;
				border-width: (@size * .5) (@size * .75) (@size * .5) (@size * .5);
				margin: (@size * .5 + @wiggle) 0 0 (@size * -.125 + @wiggle);
				&:before {
					content: '';
					position: absolute;
					background-color: @icon-color;
					width: (@size * .25);
					height: (@size * 1);
					left: 0;
					top: 0;
					margin: (@size * .5 + @wiggle) 0 0 (@size * .125 + @wiggle);
				}
				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: @icon-transparent @icon-color @icon-transparent @icon-transparent;
					border-width: (@size * .5) (@size * .75) (@size * .5) (@size * .5);
					margin: (@size * .5 + @wiggle) 0 0 (@size * .625 + @wiggle);
					left: 0;
					top: 0;
				}
			}
		}
		.@{prefix}next {
			span {
				width: 0;
				height: 0;
				border-style: solid;
				border-color: @icon-transparent;
				border-left-color: @icon-color;
				border-width: (@size * .5) (@size * .5) (@size * .5) (@size * .75);
				margin: (@size * .5 + @wiggle) 0 0 (@size * .125 + @wiggle);
				&:before {
					content: '';
					position: absolute;
					background-color: @icon-color;
					width: (@size * .25);
					height: (@size * 1);
					left: 0;
					top: 0;
					margin: (@size * .5 + @wiggle) 0 0 (@size * 1.625 + @wiggle);
				}
				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: @icon-transparent;
					border-left-color: @icon-color;
					border-width: (@size * .5) (@size * .5) (@size * .5) (@size * .75);
					margin: (@size * .5 + @wiggle) 0 0 (@size * .875 + @wiggle);
					left: 0;
					top: 0
				}
			}
		}
		.@{prefix}volume {
			position: relative;
			overflow: visible;

			&.@{prefix}active {
				opacity: 1;
				.@{prefix}volume-control {
					display: block;
				}
			}

			.@{prefix}volume-control {
				display: none;
				position: absolute;
				width: (@size * 5);
				right: -(@size * 5);
				border-top-right-radius: @radius;
				border-bottom-right-radius: @radius;
				border-bottom-left-radius: 0;
				box-shadow: (@size * .25) (@size * .25) (@size * .25) fade(black, 40);
				cursor: default;

				input[type="range"] {
					width: (@size * 5);
					margin: (.5em + @wiggle) 0 0 @wiggle;
				}
			}

			span {
				width: (@size * .625);
				height: (@size * .625);
				background-color: @icon-color;
				margin: (@size * .75 + @wiggle) 0 0 (@size * .125 + @wiggle);

				&:after {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-color: @icon-transparent;
					border-right-color: @icon-color;
					border-width: (@size * .75) (@size * 1) (@size * .75) (@size * .9375);
					left: -(@size * .8125) + @wiggle;
					top: (@size * .3125) + @wiggle;
				}

				&:before {
					content: '';
					position: absolute;
					width: (@size * .3125);
					height: (@size * .3125);
					border-style: double;
					border-color: @icon-color;
					border-width: (@size * .5) (@size * .5) 0 0;
					border-radius: 0 (@size * 3.125) 0 0;
					.transform(rotate(45deg));
					left: (@size * 1.1875) + @wiggle;
					top: (@size * .6875) + @wiggle;
				}
			}
		}

		.@{prefix}progress-container {
			@total-button-width: @control-height;
			position: relative;
			width: @total-width - (@time-width + (@control-height * 4));

			@progress-height: (@size * 0.5);
			.@{prefix}progress, .@{prefix}progress-buffered, .@{prefix}progress-well {
				height: @progress-height;
				border-radius: @progress-height;
				cursor: pointer;
			}

			@well-color: lighten(@bg-color, 7%);
			.@{prefix}progress-well {
				@border-width: (@size * .02);
				@actual-height: @progress-height + (@border-width * 2);
				margin-top: -(@actual-height / 2);
				height: @progress-height;
				position: absolute;
				top: 50%;
				.gradient-vertical-2(@well-color, darken(@well-color, 5%));
				border: @border-width solid lighten(@bg-color, 25%);
				width: 95%;
				margin-left: 2.5%;
				//box-shadow: 0 0 (@size * 0.25) fade(@icon-color, 30);
			}
			.@{prefix}progress, .@{prefix}progress-buffered {
				width: 0;
				.transition(width 280ms linear);
			}

			.@{prefix}progress {
				.gradient-vertical-2(@icon-color, darken(@icon-color, 10%));
			}

			.@{prefix}progress-buffered {
				.gradient-vertical-2(lighten(@well-color, 10%), lighten(@well-color, 5%));
			}
		}

		.@{prefix}time {
			width: @time-width;
			color: @icon-color;
			font-family: monospace;
			text-align: center;
			height: 100%;
			line-height: @control-height;
			text-shadow: (@size * .05) (@size * .05) (@size * .1) fade(@icon-color, 50);
			.box-sizing(border-box);
			.user-select(none);
			cursor: default;
		}
	}
}